/* CSS Document */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.bdc-blue-modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../bondecommande/img/wait.gif') 
                50% 50% 
                no-repeat;
}

.strikethrough{
  text-decoration: line-through;
}

.deleted{
  text-decoration: line-through;
  color : LightGrey;
}

.no-decoration{
  text-decoration: none;
}
  
.bdc-blue-body{
  font-family: "Source Sans Pro", sans-serif;
  font-style: inherit;
  -webkit-font-variant-ligatures: inherit;
          font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-stretch: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  max-width: 940px;
}  

.bdc-blue-bg-color-lightblue{
  background-color: rgb(214, 230, 243);
}

.bdc-blue-bg-color-darkblue{
  background-color: rgb(57, 138, 201);
}

.bdc-blue-color-lightblue{
  color: rgb(214, 230, 243);
}

.bdc-blue-color-darkblue{
  color: rgb(57, 138, 201);
}   

.bdc-blue-main-headline{
  background-color: rgb(57, 138, 201);    
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px 10px;
  padding: 20px 0px;
}

.bdc-blue-row-headline{
  padding-top: 30px;
  padding-bottom: 20px;    
}


.bdc-blue-section-informations{
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.bdc-blue-h3{
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.bdc-blue-align-fields{
  margin: 10px auto;
  width: 90%;
  font-size: 13px;    
}


.bdc-blue-input{
  font-size: 13px;
}

.bdc-blue-section-submit{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.bdc-blue-submit{
  width: 100%;
  font-size: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-shadow: #000000 0px 1px 0px;
  border-color: #000000;
  border-width: 1px;
  background: #65d16f;
  background: -webkit-gradient(linear,left top, left bottom,from(#65d16f),to(#338b44));
  background: linear-gradient(to bottom,#65d16f 0%,#338b44 100%);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5),inset 0px 0px 0px 1px rgba(255,255,0,0.5);
          box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5),inset 0px 0px 0px 1px rgba(255,255,0,0.5);
          margin-left: auto;
          margin-right: auto;
          padding: 20px;
}

.bdc-blue-product-details-headline{
  font-size: 35px;
  font-weight: bold;
}

.bdc-blue-green-check{
    background: -webkit-linear-gradient(#65d16f, #338b44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 7px;
  font-size: 20px;
  }

.bdc-blue-bulletpoints-list{
  font-size: 17px;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 0px;
  text-align: left;
  position: relative;
  line-height: 19px;
}

.bdc-blue-quote {
  margin: 40px 0px;
}

.bdc-blue-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;    
  padding: 0;

  background: none;
  color: gray;
  font-size: 17px;
  font-style: italic;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.bdc-blue-quote blockquote * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
}  

.bdc-blue-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.5em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}

.bdc-blue-quote blockquote p {
  margin-bottom:8px;
}

.bdc-blue-quote cite {
  font-size:14px;
  font-weight: bold;
  color: #444444;
}  


.bdc-blue-section-center{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.bdc-blue-bulletpoint-help{
  /*left: 55px;
  width: 90%;*/
  display: block;
  line-height: 1.1em;
  position: relative;
  margin-top: 60px;
  margin-left: 3.5rem;
}

.bdc-blue-guarantee{
  margin-top: 30px;
}

.bdc-blue-icon-help{
  position: absolute;
  top: 10px;
  left:-3.5rem;
  font-size: 3rem;  
}

.bdc-blue-footer-column{
}

.bdc-blue-footer-section{
  margin-left: 10px;
  margin-right: 10px;
}

.bdc-blue-cgv label {
  padding-left: 15px;
  white-space: nowrap;
}

.bdc-blue-cgv input {
  vertical-align: middle;
  margin-left: 0px;
}

.bdc-blue-cgv label span {
  vertical-align: middle;
}

.bdc-blue-total{
  margin-top: 30px;
}

.bdc-blue-total p{
  font-weight: bold;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}

.bdc-blue-align-ccnumfields{
  margin-left: 22px;
  margin-right: 22px;
}

#card-number-container{
  padding-left: 0px;
  padding-right: 0px;
}

div#card-errors.invalid-feedback{
  display:block !important;
}

.bdc-blue-align-ccnumfields input{
  padding-left: 10px;
  padding-right: 10px;
}

.bdc-blue-align-ccfields{
  margin-left: 20px;
  margin-right: 20px;
}

.bdc-blue-align-ccfields div{
  padding-left: 0px;
  padding-right: 0px;
}

.bdc-blue-align-ccfields select{
  font-size: 13px;
  padding-left: 0px;
  padding-right: 0px;  
}

.bdc-blue-logo-paypal{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bdc-blue-element-55p-width{
  width: 55%;
}

.bdc-blue-element-45p-width{
  width: 45%;
  float: right;
  position: relative;
  top: 50%; /* Probablement inutile */
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.add-header-heigth {
    margin-top:   3rem;
}

.style1 {
    text-align:   center;
}

.centered {
    text-align:   center;
    display:   block;
}

.number-without-arrows {
    /* Chrome, Safari, Edge, Opera */ 
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance:textfield;
    }
}

.modal-no-border {
    border-width:   0px !important;
    border-style:   none !important;
    border:   0px !important;
}
