<!doctype html>
<html><head>
<meta charset="UTF-8">
<title>Untitled Document</title>
  <script src="dmxAppConnect/dmxAppConnect.js"></script>
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <link rel="stylesheet" href="fontawesome4/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css">
  <script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
  <script src="dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js" defer=""></script>
  <script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
  <script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
  </head>
  <body is="dmx-app" id="main_homepage">
    <div is="dmx-browser" id="browserSession" dmx-on:click=""></div>
    <dmx-serverconnect id="translate" url="dmxConnect/api/database/translate.php" dmx-param:language="browserSession.language.split('-')[0]"></dmx-serverconnect>
    <dmx-value id="translation" dmx-bind:value="translate.data.getTranslation.toKeyedObject('text_key', 'translation')"></dmx-value>    
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="menu-top">
      <a class="navbar-brand" href="#">{{translation.value.main_header__brand_label}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse1" aria-controls="collapse1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="collapse1" class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="./">{{translation.value.main_header__home_label}}</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{translation.value.main_header__tools_label}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{translation.value.main_header__pricing_label}}</a>
          </li>
        <li class="nav-item"></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active mr-2">
            <a class="btn btn-success" href="#" dmx-on:click="browserSession.goto('app_create_user.php')">{{translation.value.main_header__create_account_label}} <i class="fa fa-user"></i></a>
          </li>
          <li class="nav-item mr-2 mt-2 mt-md-0">
            <a class="btn btn-outline-success" href="#" dmx-on:click="browserSession.goto('app_menu.php')">{{translation.value.main_header__login_label}}</a>
          </li>
        </ul>
      </div>
    </nav>
    <script src="bootstrap/4/js/popper.min.js"></script>
    <script src="bootstrap/4/js/bootstrap.min.js"></script>
  </body></html>
