<!doctype html>
<html><head>
<meta charset="UTF-8">
<title>Untitled Document</title>
  <script src="../dmxAppConnect/dmxAppConnect.js"></script>
  <script src="../js/jquery-3.3.1.slim.min.js"></script>
  <script src="../dmxAppConnect/dmxMasonry/dmxMasonry.js" defer=""></script>
  <link rel="stylesheet" href="../fontawesome4/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../bootstrap/4/css/bootstrap.min.css">
  <script src="../dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
  <script src="../dmxAppConnect/dmxBootstrap4PagingGenerator/dmxBootstrap4PagingGenerator.js" defer=""></script>
  </head>
  <body is="dmx-app" id="lastlogs">
    <dmx-serverconnect id="logConnect" url="../dmxConnect/api/logging/display_log.php" dmx-param:limit="300"></dmx-serverconnect>
    <main>
      <section>
        <div class="container">
          <div class="row">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>
                <tbody is="dmx-repeat" id="repeat1" dmx-bind:repeat="logConnect.data.displayLog.data">
                  <tr>
                    <th scope="row">{{log_id}}</th>
                    <td>{{log_date}}</td>
                    <td>{{log_type}}</td>
                    <td>{{log_message}}</td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination" dmx-populate="logConnect.data.displayLog" dmx-generator="bs4paging">
                <li class="page-item" dmx-class:disabled="logConnect.data.displayLog.page.current == 1" aria-label="First">
                  <a href="javascript:void(0)" class="page-link" dmx-on:click="logConnect.load({offset: logConnect.data.displayLog.page.offset.first})"><span aria-hidden="true">‹‹</span></a>
                </li>
                <li class="page-item" dmx-class:disabled="logConnect.data.displayLog.page.current == 1" aria-label="Previous">
                  <a href="javascript:void(0)" class="page-link" dmx-on:click="logConnect.load({offset: logConnect.data.displayLog.page.offset.prev})"><span aria-hidden="true">‹</span></a>
                </li>
                <li class="page-item" dmx-class:active="title == logConnect.data.displayLog.page.current" dmx-class:disabled="!active" dmx-repeat="logConnect.data.displayLog.getServerConnectPagination(2,1,'...')">
                  <a href="javascript:void(0)" class="page-link" dmx-on:click="logConnect.load({offset: (page-1)*logConnect.data.displayLog.limit})">{{title}}</a>
                </li>
                <li class="page-item" dmx-class:disabled="logConnect.data.displayLog.page.current ==  logConnect.data.displayLog.page.total" aria-label="Next">
                  <a href="javascript:void(0)" class="page-link" dmx-on:click="logConnect.load({offset: logConnect.data.displayLog.page.offset.next})"><span aria-hidden="true">›</span></a>
                </li>
                <li class="page-item" dmx-class:disabled="logConnect.data.displayLog.page.current ==  logConnect.data.displayLog.page.total" aria-label="Last">
                  <a href="javascript:void(0)" class="page-link" dmx-on:click="logConnect.load({offset: logConnect.data.displayLog.page.offset.last})"><span aria-hidden="true">››</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="../bootstrap/4/js/popper.min.js"></script>
    <script src="../bootstrap/4/js/bootstrap.min.js"></script>
  </body></html>
